#adminmenu .wp-menu-image img {
    padding: 6px 0 0 0;
}

#toplevel_page_lsdcommerce img {
    width: 24px;
    margin: 5px !important;
    padding: 0 !important;
}

ul.wp-submenu.wp-submenu-wrap {
    margin: 0;
}

.notice a,
.notice p {
    font-size: 13px;
    display: inline-block;
}

.column-image,
.column-id {
    width: 7% !important;
}

.p-zero {
    padding: 0;
}

.m-zero {
    margin: 0;
}

.w-120 {
    width: 120px;
}

.lsd-premium {
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px #171717;
}