/* Cart Popup */
.lsdcommerce .cart-popup {

  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  z-index: 9999;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  max-width: 480px;

}

.lsdcommerce .cart-popup.overlay {
  height: 100%;
}

.lsdcommerce .cart-popup.overlay:before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5)
}

.lsdcommerce .cart-popup.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0)
}

.lsdcommerce .cart-popup .cart-container {
  background-color: #FFF;
  max-width: 480px;
  /* bottom: 0; */
  /* position: absolute; */
  width: 100%;
  border-radius: 7px;
  margin: 0 auto;
  z-index: 9999;
}

.lsdcommerce .cart-container p {
  margin: 0;
}

.lsdcommerce .cart-popup .cart-body {
  padding: 15px
}

.lsdcommerce .cart-popup .cart-body .cart-items {
  border-bottom: none
}

.lsdcommerce .cart-popup .cart-body .cart-items .item {
  margin-bottom: 0
}

.lsdcommerce .cart-popup .cart-body .cart-items .item .item-name h6 {
  font-size: 14px
}

.lsdcommerce .cart-popup .cart-body .cart-items .item .item-name h6 .price {
  font-weight: 400;
  text-align: left;
}

.lsdcommerce .cart-popup .cart-body .cart-items .item+.item {
  margin-top: 10px
}

.lsdcommerce .cart-popup .cart-footer {
  padding: 10px;
  border-top: 1px solid #ECECEC
}

.lsdcommerce .cart-popup .cart-footer .icon-20 {
  height: 30px
}

.lsdcommerce .cart-popup .cart-footer-info h6 {
  font-size: 13px;
  color: #484848;
  margin-right: 10px;
  margin-bottom: -6px;
  text-align: right;
}

.lsdcommerce .cart-popup .cart-footer-info h4 {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: -3px;
  margin-right: 10px;
  text-align: right;
  color: var(--lsdc-color)
}

.lsdcommerce .cart-popup--add {
  height: auto;
  top: unset;
  bottom: 0;
  position: fixed;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%)
}

.lsdcommerce .cart-popup--add:before {
  display: none
}

.lsdcommerce .cart-popup--add.show {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0)
}


/* ------------------ Quantity ------------------- */
.lsdc-qty {
  width: 97px;
  height: 31px;
  /* float: right; */
  /* margin-left: 40%; */
  display: none;
  margin-top: 8px;
  margin-bottom: 7px;
  border: 1px solid #f7f7f7;
  box-shadow: rgba(9, 30, 66, 0.14) 0px 1px 1px, rgba(132, 132, 132, 0.31) 0px 0px 1px 0px;
}

.cart-basket .lsdc-qty {
  float: right;
  margin-left: auto;
}

.lsdc-qty button {
  background: #fff;
  width: 30px;
  border: none;
  cursor: pointer;
  margin: 0;
  float: left;
  font-size: 18px;
  /* line-height: 25px; */
  text-align: center;
  height: 30px;
  border-radius: 0;
  padding: 0;
  color: #5F6973;
  font-weight: 700;
}

.lsdc-qty input {
  width: 35px;
  text-align: center;
  border: none;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
  border-radius: 0;
  margin: 0;
  float: left;
  color: #000;
  padding: 0;
  font-weight: 700;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

.lsdc-qty input[type=number]::-webkit-inner-spin-button,
.lsdc-qty [type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}